{% comment %}
  Custom CSS here
  All custom CSS in this file will be kept when updating the theme
{% endcomment %}

body.template-product .section-custom-content .section__header.text-center {
  margin-bottom: 0px;
}

body.template-product .section-custom-content .section-my {
  margin-top: 50px;
  margin-bottom: 50px;
}

body.template-product .section-custom-content .section-py {
  padding-top: 50px;
  padding-bottom: 50px;
}